{% macro catList(pathImg, catLText) %}
  <div class="col">
    <a href="#" class="cat-l-p"><img src="images/{{pathImg}}" alt="" ></a>
    <div class="cat-l-h"><a href="#">{{catLText}}</a></div>
  </div>
{% endmacro %}