{% extends '../structure/index.twig' %}

{% block afterHeader %}
  <main>
    {#
      {% import "macros/cat-l-item.twig" as catList %}
      {{ 
        catList.catList(
          'pic-1.png', 
          'Какой-то заголовок'
        )
      }}
    #}
  </main>
{% endblock afterHeader %}

{% block afterFooter %}

{% endblock afterFooter %}