html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input[type="text"], input[type="password"],
input[type="button"], textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, main, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

img {
  border: none; }

ul,
ol,
li {
  list-style-type: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0; }

legend {
  border: 0;
  padding: 0; }

input[type="text"],
input[type="password"],
textarea {
  outline: none; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.row-fl,
.left {
  float: left; }

.right {
  float: right; }

.block {
  display: block; }

.row-ov,
.row {
  clear: both; }

.row-ov {
  overflow: hidden; }

.row-fl {
  width: 100%; }

html, body {
  width: 100%;
  height: 100%; }

html {
  font: 12px/120% Tahoma, "Geneva CY", sans-serif;
  background: url(../images/fon.jpg) repeat left top; }

#main {
  min-height: 100%;
  background: url(../images/bodushadow.png) repeat-y center top; }

#wrapper {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 141px; }
  #wrapper:after {
    content: "";
    display: table;
    clear: both; }

header {
  height: 70px;
  padding: 20px 20px 10px 20px;
  background: url(../images/header-fon.png) repeat center top; }

footer {
  position: relative;
  background: url(../images/footer-fon.png) repeat center top;
  min-width: 984px;
  max-width: 1240px;
  margin: 0 auto;
  height: 81px;
  padding: 40px 20px 10px 20px;
  margin-top: -131px; }
