$font-main: $font-main-weight $font-main-style #{$font-main-size}/#{$font-main-line-height} $font-main-family;
$footer-height-obs: $footer-height - ($footer-pad-top + $footer-pad-bottom);
@mixin wrapper-setting-limited {
	width: $wrapper-width;
	min-width: $wrapper-min-width;
	max-width: $wrapper-max-width;
}
@mixin footer-setting-limited {
	@if $wrapper-width != null {
		width: $wrapper-width - ($footer-pad-left + $footer-pad-right);
	}
	@if $wrapper-min-width != null {
		min-width: $wrapper-min-width - ($footer-pad-left + $footer-pad-right);
	}
	@if $wrapper-max-width != null {
		max-width: $wrapper-max-width - ($footer-pad-left + $footer-pad-right);
	}
}

@mixin wrapper-setting-full {
	@if $wrapper-width != null {
		width: $wrapper-width - ($wrapper-pad-left + $wrapper-pad-right);
	}
	@if $wrapper-min-width != null {
		min-width: $wrapper-min-width - ($wrapper-pad-left + $wrapper-pad-right);
	}
	@if $wrapper-max-width != null {
		max-width: $wrapper-max-width - ($wrapper-pad-left + $wrapper-pad-right);
	}
}