<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title #{title}
    block viewPort
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/main.css")
  body
    #main
      #wrapper
        header
          block header
        
        block afterHeader

    footer
      block footer

    block afterFooter

    block pagePopup

    block script
      script(src="js/main.js")

    block pageScript