%col-1-24,
.col-1-24 {
  width: 4.16666666667%;
}
%col-2-24,
.col-2-24 {
  width: 8.33333333333%;
}
%col-3-24,
.col-3-24 {
  width:12.5%;
}
%col-4-24,
.col-4-24 {
  width: 16.6666666667%;
}
%col-5-24,
.col-5-24 {
  width: 20.8333333333%;
}
%col-6-24,
.col-6-24 {
  width: 25%;
}
%col-7-24,
.col-7-24 {
  width: 29.1666666667%;
}
%col-8-24,
.col-8-24 {
  width: 33.3333333333%;
}
%col-9-24,
.col-9-24 {
  width: 37.5%;
}
%col-10-24,
.col-10-24 {
  width: 41.6666666667%;
}
%col-11-24,
.col-11-24 {
  width: 45.8333333333%;
}
%col-12-24,
.col-12-24 {
  width: 50%;
}
%col-13-24,
.col-13-24 {
  width: 54.1666666667%;
}
%col-14-24,
.col-14-24 {
  width: 58.3333333333%;
}
%col-15-24,
.col-15-24 {
  width: 62.5%;
}
%col-16-24,
.col-16-24 {
  width: 66.6666666667%;
}
%col-17-24,
.col-17-24 {
  width: 70.8333333333%;
}
%col-18-24,
.col-18-24 {
  width: 75%;
}
%col-19-24,
.col-19-24 {
  width: 79.1666666667%;
}
%col-20-24,
.col-20-24 {
  width: 83.3333333333%;
}
%col-21-24,
.col-21-24 {
  width: 87.5%;
}
%col-22-24,
.col-22-24 {
  width: 91.6666666667%;
}
%col-23-24,
.col-23-24 {
  width: 95.8333333333%;
}
%col-24-24,
.col-24-24 {
  width: 100%;
}