%col-1-12,
.col-1-12 {
  width: 8.33333333333%;
}
%col-2-12,
.col-2-12 {
  width: 16.6666666667%;
}
%col-3-12,
.col-3-12 {
  width: 25%;
}
%col_4_12,
.col_4_12 {
  width: 33.3333333333%;
}
%col-5-12,
.col-5-12 {
  width: 41.6666666667%;
}
%col-6-12,
.col-6-12 {
  width: 50%;
}
%col-7-12,
.col-7-12 {
  width: 58.3333333333%;
}
%col-8-12,
.col-8-12 {
  width: 66.6666666667%;
}
%col-9-12,
.col-9-12 {
  width: 75%;
}
%col-10-12,
.col-10-12 {
  width: 83.3333333333%;
}
%col-11-12,
.col-11-12 {
  width: 91.6666666667%;
}
%col-12-12,
.col-12-12 {
  width: 100%;
}